:root {
  --angle0: ;
  --angle1: ;
  --angle2: ;
  --angle3: ;
  --angle4: ;
  --icon_offset: 300px;
  /* --pink: #c40a71;
   */
  --light_pink: #f26a8d;
  /* --light_pink: #f20d8b; */
  --lilac: #d4adcf;
  --blue: hsl(184, 90%, 50%);

  --header_width: 300px;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  /* flex-direction: column; */
  /* width: 100vw; */
  background-color: var(--lilac);
}

header,
footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 0;
  width: var(--header_width);
  height: 100vh;
  background-color: var(--light_pink);
  top: 0;
  box-shadow: 0 0 10px black;
  /* justify-content: center; */
}

header {
  position: sticky;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

/* 
.navLink {
  background-color: var(--light_pink);
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

a {
  text-decoration: none;
  color: inherit;
}

#description {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 30px 10px;
}

/* 
.active {
  background-color: salmon;
} */

main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  /* width: 50vw */
}


.start_button {
  /* margin-top: 200px; */
  width: 200px;
  height: 70px;
  /* background-color: white; */
}

.reset_button {
  width: 200px;
  height: 70px;
}

.setup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
}

select,
input,
label {
  display: block;
}

.options {
  margin: 10px
}

#game-div {
  position: relative;
  width: 100%;
  height: 450px;

  /* background-color: rgb(34, 95, 150); */

  display: flex;
  justify-content: center;
}

#score-div {
  display: flex;
  font-size: 2em;
  /* background-color: black; */
  /* width: 90%; */
  height: max-content;
  padding-top: 30px;
  border-radius: 20px;
  border: black solid 1px;
  padding: 10px;
  justify-content: center;
  margin: 10px;
}

.show_round_win {
  border: 1px black solid;
  border-radius: 20px;
  padding: 20px;
}

.sel_button {
  width: 100px;
  height: 50px;
  padding: 10px;
  color: white;
  border: solid white 2px;
  cursor: pointer;
}

.confirm {
  position: absolute;
  z-index: 2;
  background-color: red;
  width: 400px;
  height: 400px;
}

.confirm__no,
.confirm__yes {
  cursor: pointer;
}

/* Hides elements */
/* .hide {
  display: none;
} */

/* .unclick {
    pointer-events: none;
} */

.player_win,
.ai_lose {
  color: #77DD77;
}

.player_lose,
.ai_win {
  color: var(--light_pink);
}

.player_draw,
.ai_draw {
  color: beige;
}

.replay {
  color: lightslategray;
  cursor: pointer;
}

/* #game-icons {
    
} */

.game_icon {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 50%;
  margin: -50px;
  cursor: pointer;
  transition: ease-in-out 100ms;
}

.game_icon:hover {
  /* filter: invert(61%) sepia(33%) saturate(1828%) hue-rotate(303deg) brightness(94%) contrast(99%) drop-shadow(0 0 5px); */
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(200deg) brightness(103%) contrast(101%) drop-shadow(0 0 3px #ee688d) drop-shadow(0 0 9px #e787a2);
}


.circle {
  z-index: 50;
  margin-top: 40px;
  position: absolute;
  align-self: center;
  width: 600px;
  height: 600px;
  /* animation: rotation 7s linear infinite */
}

/* 
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
} */

.angle0 {
  transform: rotate(var(--angle0)) translate(var(--icon_offset)) rotate(calc(0deg - var(--angle0)));
}

.angle1 {
  transform: rotate(var(--angle1)) translate(var(--icon_offset)) rotate(calc(0deg - var(--angle1)));
}

.angle2 {
  transform: rotate(var(--angle2)) translate(var(--icon_offset)) rotate(calc(0deg - var(--angle2)));
}

.angle3 {
  transform: rotate(var(--angle3)) translate(var(--icon_offset)) rotate(calc(0deg - var(--angle3)));
}

.angle4 {
  transform: rotate(var(--angle4)) translate(var(--icon_offset)) rotate(calc(0deg - var(--angle4)));
}

#move-trace {
  height: 60%;
  overflow-y: scroll;
}

.warning_div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 50%; */
  background-color: rgba(72, 83, 94, 0.65);
}

.warning_div_inner {
  width: 600px;
  background-color: var(--light_pink);
  z-index: 100;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 30px;
  /* align-items: left; */
  border-radius: 20px;
}


.check_buttons {
  margin-top: 20px;
  width: 60%;
  align-self: center;
  /* border: white solid 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: max-content; */
}


.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: 0 5px black;
  transition: 200ms;
  cursor: pointer;
  margin: 10px
}

.check_button,
.nav_link {
  height: 3em;
  width: 5em;
}

.check_button:hover,
.button:hover,
.active {
  translate: 0 5px;
  box-shadow: 0 0px;
  /* background-color: var(--pink); */
}

.about_about {
  width: 600px;
}

#help {
  display: none;
}

#credits {
  align-self: center;
  position: absolute;
  bottom: 110px;

}

@media screen and (max-width: 1000px) {
  :root {
    --icon_offset: 30vw;
  }

  body {
    position: relative;
    flex-direction: column;
  }

  #help {
    display: flex;
  }

  header,
  footer {
    height: fit-content;
    width: 100vw;
  }

  .hide {
    display: none;
  }

  header {
    position: sticky;
  }

}