header {
    color: red;
}

#start-button {
    width: 200px;
    height: 150px;
    border: solid red 2px;
    cursor: pointer;
}

#game-div {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(34, 95, 150);

    display: flex;
    justify-content: center;
}

#score-div {
    font-size: 2em;
    color: white;
    background-color: black;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.selButton {
    width: 100px;
    height: 50px;
    padding: 10px;
    color: white;
    border: solid white 2px;
    cursor: pointer;
}

.confirm {
    position: absolute;
    z-index: 2;
    background-color: red;
    width: 400px;
    height: 400px;
}

.confirm__no,
.confirm__yes {
    cursor: pointer;
}

/* Hides elements */
.hide {
    display: none;
}

/* .unclick {
    pointer-events: none;
} */

.playerwin,
.ailose {
    color: greenyellow;
}

.playerlose,
.aiwin {
    color: red;
}

.playerdraw,
.aidraw {
    color: beige;
}

.replay {
    color: lightslategray;
    cursor: pointer;
}