header {
    color: red;
}

#start-button {
    width: 200px;
    height: 150px;
    border: solid red 2px;
    cursor: pointer;
}

.gameDiv {
    width: 100%;
    height: 500px;
    background-color: rgb(34, 95, 150);

    display: flex;
}

.selButton {
    width: 100px;
    height: 50px;
    padding: 10px;
    color: white;
    border: solid white 2px;
    cursor: pointer;
}